@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root {
    --main-color: #e91e63;
    --black: #13131a;
    --bg: #010103;
    --border: .1rem solid rgba(255, 255, 255, .3);
    --nike-red: #E11D21;
    --nike-black: #111111;
    --nike-white: #FFFFFF;
    --nike-gray: #A8A8A8;
}

* {
    font-family: 'Roboto', sans-serif;
    margin: 2px;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: .8rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 5rem;
}

body {
    background: var(--nike-black);
    color: var(--nike-white);
}

section {
    padding: 2rem 7%;
}

.heading {
    text-align: center;
    color: var(--nike-white);
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}

.heading span {
    color: var(--nike-red);
    text-transform: uppercase;
}

.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: .9rem 3rem;
    font-size: 1.7rem;
    color: var(--nike-white);
    background: var(--nike-red);
    cursor: pointer;
    border: 2px solid var(--nike-white);
}

.btn:hover {
    letter-spacing: .2rem;
    background: var(--nike-white);
    color: var(--nike-red);
}

.header {
    background: var(--nike-black);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 7%;
    border-bottom: var(--border);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;

}

.header .logo img {
    height: 10rem;
}

.header .navbar a {
    margin: 0 1rem;
    font-size: 2rem;
    color: var(--nike-white);
}

.header .navbar a:hover {
    color: var(--nike-red);
    border-bottom: .2rem solid var(--nike-red);
    padding-bottom: .5rem;
}

.header .icons div {
    color: var(--nike-white);
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}

header .icons div:hover {
    color: var(--nike-red);
}

#menu-btn {
    display: none;
}

.search-form {
    position: absolute;
    top: 115%;
    right: 7%;
    background: var(--nike-white);
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
}


.header .cart-items-container {
    position: absolute;
    top: 100%;
    right: -100%;
    height: calc(100vh - 9.5rem);
    width: 35rem;
    background: var(--nike-white);
    padding: 0 1.5rem;
}



.inicio {
    min-height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-top: 12rem;
    /* Aumenta el espacio entre la cabecera y el carrusel */
}

.carousel-container {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    animation: carousel 10s linear infinite;
}

.carousel-slide {
    min-width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-slide img {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
}

.promo-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    text-align: center;
}

.carousel-slide:hover .promo-overlay {
    opacity: 1;
}

.accept-promo-btn {
    background-color: rgba(0, 0, 0, 0.7);
    color: var(--nike-white);
    padding: 1rem 2rem;
    font-size: 1.6rem;
    border: none;
    cursor: pointer;
    border: 2px solid var(--nike-white);
}

.carousel-container:hover {
    animation-play-state: paused;
}

@keyframes carousel {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

.acerca .row {
    display: flex;
    align-items: center;
    background: var(--nike-black);
    flex-wrap: wrap;
}

.acerca .row .imagenes {
    flex: 1 1 45rem;
}

.acerca .row .imagenes img {
    transition: all ease 2s;
    border-radius: 10%;
}

.acerca .row .content {
    flex: 1 1 45rem;
    padding: 2rem;
}

.acerca .row .content h3 {
    font-size: 5rem;
    color: var(--nike-white);
}

.acerca .row .content p {
    font-size: 1.6rem;
    color: var(--nike-gray);
    padding: 1rem 0;
    line-height: 1.8;
}

.contactos .row {
    display: flex;
    background: var(--black);
    flex-wrap: wrap;
    gap: 1rem;
    border: var(--border);
}

.contactos .row .map {
    flex: 1 1 45rem;
    width: 100%;
    object-fit: cover;
}

.contactos .row form {
    flex: 1 1 45rem;
    padding: 5rem 2rem;
    text-align: center;
}

.contactos .row form h3 {
    text-transform: uppercase;
    font-size: 3.5rem;
    color: #fff;
}

.contactos .row form .inputbox {
    display: flex;
    align-self: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background: var(--bg);
    border: var(--border);
}

.contactos .row form .inputbox span {
    color: #fff;
    font-size: 3rem;
    padding-left: 2rem;
}

.contactos .row form .inputbox input {
    width: 100%;
    padding: 1rem;
    font-size: 1.7rem;
    color: #fff;
    text-transform: none;
    background: none;
}


.footer {
    background: var(--nike-black);
    text-align: center;
    border: var(--border);
}

.footer .share {
    padding: 1rem 0;
}

.footer .share a {
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color: var(--nike-white);
    border: var(--border);
    margin: 3rem;
    border: 2px solid var(--nike-white);
    border-radius: 50%;
}

.footer .share a:hover {
    background-color: var(--nike-red);
}

.footer .links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
    gap: 1rem;
}

.footer .links a {
    padding: .7rem 2rem;
    color: var(--nike-white);
    border: var(--border);
    font-size: 2rem;
}

.footer .links a:hover {
    background: var(--nike-red);
}

.footer .credit {
    font-size: 2rem;
    color: var(--nike-white);
    font-weight: lighter;
    padding: 1.5rem;
}

.footer .credit span {
    color: var(--nike-red);
}

@media (max-width:991px) {
    html {
        font-size: 55%;
    }

    .header {
        padding: 1.5rem 2rem;
    }

    section {
        padding: 2rem;
    }
}

@media (max-width:768px) {
    #menu-btn {
        display: inline-block;
    }

    .header .navbar {
        position: absolute;
        top: 100%;
        right: -100%;
        background: var(--nike-white);
        width: 30rem;
        height: calc(100vh - 9.5rem);
    }

    .header .navbar.active {
        right: 0;
    }

    .header .navbar a {
        color: var(--nike-black);
        display: block;
        margin: 1.5rem;
        padding: .5rem;
        font-size: 2rem;
    }

    .header.search-form {
        width: 90%;
        right: 2rem;
    }

    .home {
        background-position: left;
        justify-content: center;
        text-align: center;
    }

    .home .content h3 {
        font-size: 4.5rem;
    }

    .home .content p {
        font-size: 1.5rem;
    }
}

@media (max-width:450px) {
    html {
        font-size: 50%;
    }
}