@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root {
    --main-color: #e91e63;
    --black: #13131a;
    --bg: #010103;
    --border: .1rem solid rgba(255, 255, 255, .3);
    --nike-red: #E11D21;
    --nike-black: #111111;
    --nike-white: #FFFFFF;
    --nike-gray: #A8A8A8;
}

* {
    font-family: 'Roboto', sans-serif;
    margin: 2px;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: .8rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 5rem;
}

body {
    background: var(--nike-black);
    color: var(--nike-white);
    padding-top: 11rem;
    /* Añadido padding para evitar que la cabecera tape la sección. Ajusta este valor según la altura de tu cabecera */
}

section {
    padding: 2rem 7%;
}

.heading {
    text-align: center;
    color: var(--nike-white);
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}

.heading span {
    color: var(--nike-red);
    text-transform: uppercase;
}

.section-title {
    text-align: center;
    color: var(--nike-white);
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
}

.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: .9rem 3rem;
    font-size: 1.7rem;
    color: var(--nike-white);
    background: var(--nike-red);
    cursor: pointer;
    border: 2px solid var(--nike-white);
}

.btn:hover {
    letter-spacing: .2rem;
    background: var(--nike-white);
    color: var(--nike-red);
}

.header {
    background: var(--nike-black);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 7%;
    border-bottom: var(--border);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header .logo img {
    height: 10rem;
}

.header .navbar a {
    margin: 0 1rem;
    font-size: 2rem;
    color: var(--nike-white);
}

.header .navbar a:hover {
    color: var(--nike-red);
    border-bottom: .2rem solid var(--nike-red);
    padding-bottom: .5rem;
}

.header .icons div {
    color: var(--nike-white);
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}

header .icons div:hover {
    color: var(--nike-red);
}

#menu-btn {
    display: none;
}

.search-form {
    position: absolute;
    top: 115%;
    right: 7%;
    background: var(--nike-white);
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
}


.header .cart-items-container {
    position: absolute;
    top: 100%;
    right: -100%;
    height: calc(100vh - 9.5rem);
    width: 35rem;
    background: var(--nike-white);
    padding: 0 1.5rem;
}

.productos-nike .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1em;
}

.productos-nike .box-container .box {
    padding: 5rem;
    text-align: center;
    border: var(--border);
    background: var(--nike-black);
    transition: 0.5s;
    object-fit: cover;
}

.productos-nike .box-container .box:hover {
    transform: scale(1.1);
}

.productos-nike .box-container .box img {
    height: 25rem;
}

.productos-nike .box-container .box h3 {
    color: var(--nike-white);
    font-size: 2rem;
    padding: 1rem 0;
}

.productos-nike .box-container .box .price {
    color: var(--nike-white);
    font-size: 2.5rem;
    padding: 5rem 0;
}



.productos-nike .box-container .box:hover {
    background: var(--nike-red)
}

.productos-nike .box-container .box:hover>* {
    background: var(--nike-black);
}

.productos .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.productos .box-container .box {
    text-align: center;
    border: var(--border);
    padding: 2rem;
    background: var(--nike-black);
}

.productos .box-container .box .icons a {
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    border: var(--border);
    color: var(--nike-white);
    margin: .3rem;
}

.productos .box-container .box .icons a:hover {
    background: var(--nike-red);
}

.productos .box-container .box .imagenes {
    padding: 1rem 0;
}

.productos .box-container .box .imagenes img {
    height: 25rem;
    transition: 0.5s;
    object-fit: cover;
}

.productos .box-container .box .imagenes img:hover {
    transform: scale(1.2);
}

.productos .box-container .box .content h3 {
    color: var(--nike-white);
    font-size: 2.5rem;
}

.productos .box-container .box .content .stars {
    padding: 1.5rem;
}

.productos .box-container .box .content .stars i {
    font-size: 1.7rem;
    color: var(--nike-red);
}

.productos .box-container .box .content .price {
    color: var(--nike-white);
    font-size: 2.5rem;
}

.productos .box-container .box .content .price span {
    text-decoration: line-through;
    font-weight: lighter;
    font-size: 1.5rem;
}

.footer {
    background: var(--nike-black);
    text-align: center;
    border: var(--border);
}

.footer .links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
    gap: 1rem;
}

.footer .links a {
    padding: .7rem 2rem;
    color: var(--nike-white);
    border: var(--border);
    font-size: 2rem;
}

.footer .links a:hover {
    background: var(--nike-red);
}

.footer .credit {
    font-size: 2rem;
    color: var(--nike-white);
    font-weight: lighter;
    padding: 1.5rem;
}

.footer .credit span {
    color: var(--nike-red);
}

@media (max-width:991px) {

    html {
        font-size: 55%;
    }

    .header {
        padding: 1.5rem 2rem;
    }

    section {
        padding: 2rem;
    }

}

@media (max-width:768px) {

    #menu-btn {
        display: inline-block;
    }

    .header .navbar {
        position: absolute;
        top: 100%;
        right: -100%;
        background: #fff;
        width: 30rem;
        height: calc(100vh - 9.5rem);
    }

    .header .navbar.active {
        right: 0;
    }

    .header .navbar a {
        color: var(--black);
        display: block;
        margin: 1.5rem;
        padding: .5rem;
        font-size: 2rem;

    }

    .header.search-form {
        width: 90%;
        right: 2rem;
    }

    .home {
        background-position: left;
        justify-content: center;
        text-align: center;
    }

    .home .content h3 {
        font-size: 4.5rem;
    }

    .home .content p {
        font-size: 1.5rem;
    }

}

@media (max-width:450px) {

    html {
        font-size: 50%;
    }

}